@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.home_container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.walls_card {
    width: 250px;
    background-color: #a2ad91;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    line-height: 25px;
    box-shadow: 1px 1px 5px rgb(127, 154, 155);
}

.walls_card label {
    color: rgb(62, 76, 77);
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(103, 126, 128);;
}

.walls_card p{
    color: rgba(172, 23, 23, 0.7);
    font-weight: 600;
    font-size: 13px;
}

.walls_card input{
    outline: none;
    color: rgb(0, 0, 0, 0.7);
    height: 25px;
    border:none;
    border-bottom: 1px solid rgb(62, 76, 77);
    background-color: #a2ad91;
    
}

.button-wall {
    margin-top: 10px;
    padding: 0.4rem;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgb(62, 76, 77);
    background:rgb(112, 134, 131);
   
    border-radius: 4px;
}